<!-- BEGIN_INCLUDE(insightly:retreive) -->
    <insightly:retreive config-ref="" doc:name="Insightly" resourceId="" resourceName=""/>
<!-- END_INCLUDE(insightly:retreive) -->
<!-- BEGIN_INCLUDE(insightly:retrieve-by-query) -->
    <insightly:retrieve-by-query config-ref="" resourceKey="" resourceValue="" resourceName="" doc:name="Insightly"/>
<!-- END_INCLUDE(insightly:retrieve-by-query) -->
<!-- BEGIN_INCLUDE(insightly:update) -->
    <insightly:update config-ref="" resourceName="" doc:name="Insightly"/>
<!-- END_INCLUDE(insightly:update) -->
<!-- BEGIN_INCLUDE(insightly:create) -->
	<insightly:create config-ref="" resourceName="" doc:name="Insightly"/>
<!-- END_INCLUDE(insightly:create) -->
<!-- BEGIN_INCLUDE(insightly:delete) -->
	<insightly:delete config-ref="" resourceId="" resourceName="" doc:name="Insightly"/> 
<!-- END_INCLUDE(insightly:delete) -->
<!-- BEGIN_INCLUDE(insightly:retrieve-contacts) -->
	<insightly:retrieve-contacts config-ref="" ids="" email="" resourceName="" doc:name="Insightly"/>
<!-- END_INCLUDE(insightly:retrieve-contacts) -->